*/*.out
termvu*
.termvu_data
core
ncurses.h
tags
hello*
debug_*
ToDo.md
debug.out

venv
__pycache__
make_dev*

.gdbbreaks
.gdb_history
.gdbterm

build.log
tags

tests/parse_debugger_out/d/debug.out
tests/parse_debugger_out/d/progr.out
