termfu*
core
tags
debug.out
.termfu*
.tags

test_programs/hello
test_programs/vars
test_programs/fib
test_programs/infinite_loop
test_programs/seg_fault

tests/test_programs

obj

configs/.*_data

.gdb_history

*/*.out

venv
__pycache__
