*/*.out
termide
termide-dev
core
ncurses.h
tags
hello*
debug_*
ToDo.md

venv
__pycache__
make_dev*

.gdb*

obj/*
!obj/.gitkeep

build.log
tags

tests/parse_debugger_out/d/debug.out
tests/parse_debugger_out/d/progr.out
